hydra-core==1.0.7
sacremoses==0.0.45
sacrebleu==1.5.0
soundfile==0.10.3.post1
sentencepiece==0.1.95
torchaudio==0.11.0
omegaconf==2.0.6
# gTTS
# pyttsx3
tqdm==4.64.0
editdistance==0.5.3
regex==2021.11.10
dataclasses==0.8
PyYAML==6.0
typing-extensions==4.1.1
importlib-resources==5.8.0
antlr4-python3-runtime==4.8
portalocker==2.5.1
cython==0.29.30
future==0.18.2
